// This is your main LESS file. It imports the source boostrap files.

@import "bootstrap/bootstrap.less";
@import "videojs.less";

@color-primary: lightsalmon;

#full{
  background: url("/static/images/Def_Background.png") no-repeat center center fixed;
  background-size: cover;
}

html{
  position: relative;
  min-height: 100%;
}

body{
  margin-bottom: 60px;
  font-family: 'Andika', sans-serif;
  color: white;
}

.no-margin, .intro-banner > .row, .site-header > .row{
  margin: 0;
}

.centered{
  display: flex;
  justify-content: center;
}

a.btn-info{
  width: 130px;
  background-color: @color-primary;
  border-color: @color-primary;
  &:active, &:focus, &:hover{
    background-color: darken(@color-primary, 7%);
    border-color: darken(@color-primary, 7%);
  }
}

.black{
  color: black;
}

.site-color{
  color: @color-primary;
}

.color-background{
  background-color: @color-primary;
  border: 1px solid @color-primary;
  border-radius: 4px;
  margin-bottom: 10px;
}

a.top-margin{
  margin-top: 20px;
}

.page-header{
  background-color: white;
  border: 1px solid white;
  border-radius: 6px;
}

.description{
  font-size: 17px;
  line-height: 22px;
}

.composit-download > a.btn-info{
  width: 220px;
}

.page-title{
  line-height: 15px;
}

.inline-block{
  display: inline-block;
}

.inline-flex{
  display: inline-flex;
}

.first-page-element{
  margin-top : 40px;
}
//header banner styles
.intro-banner{
  height: 240px;
  width: 100%;
  background-color: white;
}

.social-logo{
  width: 24px;
  height: 24px;
  margin-right: 20px;
  margin-top: 10px;
}

.social-header, .main-header-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header-container{
  font-family: 'Amatic SC', cursive;
  &:hover{
    text-decoration: none;
  }
  h4{
    font-size: 28px;
  }
}

.header-text{
  margin-top: 10px;
  font-size: 78px;
  color: black;
}

.header-img{
  height: 78px;
}

.main-logo{
  height: 150px;
  width: 150px;
}

.social{
  height: 15%;
  margin: 0;
}

.site-header{
  height: 80%;
  margin: 0;
}

.main-header-container > h3 {
  font-size: 45px;
}

@media (min-width: @screen-md-min) {
  .main-header-container > h3 {
    font-size: 50px;
  }
}


// Navigation styles
.navbar-static-top{
  background-color: @color-primary;
  border-width: 0;
  margin-bottom: 0;
}

.nav .nav-item > a {
  font-size: 18px;
  color: white;

  &:hover, &:active{
    background-color: darken(@color-primary, 7%);
  }
}

.icon-bar{
  background-color: black;
}

.navbar-toggle{
  margin-right: 25px;
  margin-top: 12px;
}

.navbar-brand{
  display: block;
  margin: 0;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar-brand{
      display: none;
    }
}

//Page d'acceuil styles
.centerIntroText {
  text-align: center;
}

#navbar-items{
  margin-top: 12px;
}

.center{
  display: block;
  margin: 0 auto;
}

.tv{
  margin-top: 90px;
  z-index: -1;
}

.video-homepage{
  border: 14px solid;
  border-image: url("/static/images/border-tv.png") 4%;
  width: 650px;
  height: 350px;
}

.acceuil-video{
  text-align: center;
  width: 622px;
  height: 322px;
}

.center-parent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text, .footer-text > a{
  color: white;
}

.footer-text > a:hover{
  color: white;
  text-decoration: none;
}
// Content styles
.content-filter{
  height: 30px;
  margin: 4px;
}

.fade-out{
  opacity: 0.4;
  pointer-events: none;
}

.content-name{
  background-color: @color-primary;
  border: 1px solid @color-primary;
  border-top: 4px;
  margin-bottom: 12px;
}

.filter-btn{
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  color: white;
  margin: 5px 0;
  &:active, &:focus, &:hover{
    color: white;
    border: none;
    text-decoration: none;
  }
}

.filter-head{
  background-color: @color-primary;
  border: 1px solid @color-primary;
  border-radius: 4px;
  margin-bottom: 10px;
}

.content-background{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  margin: 5px 0;
}

.tagTitle{
  font-size: 25px;
}

.taglist{
  font-size: 15px;
    &:hover{
      cursor: default;
    }
}

.content-audio{
  background-color: @color-primary;
  border: 1px solid @color-primary;
  border-radius: 4px;
  margin-bottom: 15px;
}

.audio-content{
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
}

.audio-item{
  width: 400px;
}

.section-head{
  font-size: 32px;
  line-height: 10px;
}

#Grave{
  background-color: red;
  border-color: red;
}
#Posé{
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}
#Nostalgique{
  background-color: darkblue;
  border-color: darkblue;
}
#Naturel{
  background-color: darkgreen;
  border-color: darkgreen;
}
#Explicatif{
  background-color: gray;
  border-color: gray;
}
#Souriant{
  background-color: #ff9900;
  border-color: #ff9900;
}
#Mystérieux{
  background-color: darkviolet;
  border-color: darkviolet;
}
#Chaud{
  background-color: orange;
  border-color: orange;
}
#Rassurant{
  background-color: #ff99ff;
  border-color: #ff99ff;
}
#Affirmé{
  background-color: black;
  border-color: black;
}
#Sensuel{
  background-color: #ff9999;
  border-color: #ff9999;
}
#Cartoon{
  background-color: #31b0d5;
  border-color: #31b0d5;
}
#Suave{
  background-color: #999966;
  border-color: #999966;
}
#Enjoué{
  background-color: #ff6600;
  border-color: #ff6600;
}


// Qui suis je styles
.phototeque{
  line-height: 0;

  -webkit-column-count: 4;
  -webkit-column-gap:   40px;
  -moz-column-count:    4;
  -moz-column-gap:      40px;
  column-count:         4;
  column-gap:           40px;
}

.phototeque img {
  width: 100% !important;
  height: auto !important;
}

@media only screen and (max-width: 1200px) {
  .phototeque {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media only screen and (max-width: 1000px) {
  .phototeque {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media only screen and (max-width: 800px) {
  .phototeque {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media only screen and (max-width: 400px) {
  .phototeque {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

//Contact me styles
#success_message{ display: none;}

.btn-warning{
  background-color: @color-primary;
  &:hover{
    background-color: darken(@color-primary, 7%);
  }
  &:active{
    background-color: darken(@color-primary, 7%);
  }
}

.form-control{
  height: 45px;
  font-size: 18px;
}

//Footer styles
#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
}
