// This is your main LESS file. It imports the source boostrap files.

@import "bootstrap/bootstrap.less";
@import "videojs.less";

#full{
  background: url("/static/images/Def_Background.png") no-repeat center center fixed;
  background-size: cover;
}

html{
  position: relative;
  min-height: 100%;
}

body{
  margin-bottom: 60px;
}

.no-margin{
  margin: 0;
}

//header banner styles
.social-logo{
  width: 24px;
  height: 24px;
  margin-right: 20px;
  margin-top: 10px;
}

.social-header, .main-header-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header-container{
  font-family: 'Amatic SC', cursive;
}

.header-text{
  margin-top: 10px;
  font-size: 78px;
  color: black;
  &:hover{
    color: darkgray;
  }
}

.header-img{
  height: 78px;
}

.main-logo{
  height: 150px;
  width: 150px;
}

.social{
  height: 25%;
  margin: 0;
}

.site-header{
  height: 75%;
  margin: 0;
}
// Navigation styles
.header-logo{
  height: 50px;
  width: 50px
}

.logo-text {
  font-size: 30px;
  color: red;
  float: left;
  padding-left: 20px;
}

.navbar-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item > a {
  color: white;

  &:hover{
    color: grey;
  }
}

//Page d'acceuil styles
.centerIntroText {
  text-align: center;
}

.intro-banner{
  height: 185px;
  width: 100%;
  background-color: white;
}

#navbar-items{
  margin-top: 12px;
}

.center{
  display: block;
  margin: 0 auto;
}
.center-parent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-link{
  width: 100px;
  color: black;
  background-color: white;
  :hover{
    color: grey;
  }
}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
}

#featured-media-carousel{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.carousel-control.right, .carousel-control.left{
  background: none;
}

.glyphicon-chevron-right, .glyphicon-chevron-left{
  color: white;
}

.carousel-indicators{
  li{
    border-color: black;
  }
   .active{
    background-color: white ;
  }
}

.recent-activities, .footer-text{
  color: white;
}
// Content styles


// Qui suis je styles
.phototeque{
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

.phototeque img {
  width: 100% !important;
  height: auto !important;
}

@media only screen and (max-width: 1200px) {
  .phototeque {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media only screen and (max-width: 1000px) {
  .phototeque {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media only screen and (max-width: 800px) {
  .phototeque {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media only screen and (max-width: 400px) {
  .phototeque {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

//Footer styles
#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
