// This is your main LESS file. It imports the source boostrap files.

@import "bootstrap/bootstrap.less";

#full{
  background: url("/static/images/background.png") no-repeat center center fixed;
  background-size: cover;
}

// Navigation styles
.navbar {
  border-bottom: 1px solid black;
}

.logo-div{
  position: relative;
  height: 75px;
  top: 5px;
}
.logo-image{
  height: 200px;
  width: 133px;
  float: left;
  position: absolute;
}

.logo-text {
  font-size: 30px;
  color: red;
  float: left;
  padding-left: 20px;
}

.nav-dropdown:hover {
  background-color: grey;
}

.navbar-center {
  text-align: center;
}

//Page d'acceuil styles
.centerIntroText {
  text-align: center;
}

.introduction{
  background: url("/static/images/background_acceuil.png") repeat-x fixed center;
}

#navbar-items{
  margin-top: 12px;
}


// Content styles
