<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-push-1">
        <div class="social-footer">
          Restez connecté avec
          <a href="https://facebook.com/ivananneville/" target="_blank">
            <img class="social-logo" id="facebook-link" src="/static/images/social/fb_logo.png" alt="Designed by freepick.com"/>
          </a>
          <a href="https://www.twitter.com/IvanAnneville" target="_blank">
            <img class="social-logo" id="twitter-link" src="/static/images/social/twit_logo.png" alt="Designed by freepick.com"/>
          </a>
          <a href="https://www.youtube.com/IvanAnneville" target="_blank">
            <img class="social-logo" id="youtube-link" src="/static/images/social/yt_logo.png" alt="Designed by freepick.com"/>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-push-1">
        <div class="copyright">
          <p>@Copyright IvanAnneville, Site by Cecaro</p>
        </div>
      </div>
    </div>
  </div>
</div>
