<div class="row">
  <div class="col-xs-12">
    <div class="social-footer">
      Restez connecté avec
      <a href="#">
        <img class="social-logo" id="facebook-link" src="/static/images/social/facebook.png"/>
      </a>
      <a href="#">
        <img class="social-logo" id="twitter-link" src="/static/images/social/twitter.png"/>
      </a>
      <a href="#">
        <img class="social-logo" id="youtube-link" src="/static/images/social/youtube.png"/>
      </a>
    </div>
  </div>
</div>
