<div class="intro-banner">
	<div class="row social">
		<div class="col-md-12 social-header">
			<a href="https://facebook.com/ivananneville/" target="_blank">
				<img class="social-logo" id="facebook-link" src="/static/images/social/facebook.svg"/>
			</a>
			<a href="https://www.youtube.com/IvanAnneville" target="_blank">
				<img class="social-logo" id="youtube-link" src="/static/images/social/youtube.svg"/>
			</a>
			<a href="https://www.linkedin.com/in/ivan-anneville-210a81a7/en" target="_blank">
				<img class="social-logo" id="linkedin-link" src="/static/images/social/linkedin.svg"/>
			</a>
		</div>
	</div>
	<div class="site-header">
		<div class="row centered">
			<div class="col-md-8">
				<a href="/" class="main-header-container">
					<h1 class="header-text">Ivan</h1>
					<img class="header-img" src="/static/images/mic-logo.png"/>
					<h1 class="header-text">Anneville</h1>
				</a>
			</div>
		</div>
		<div class="row centered">
			<div class="col-md-4 main-header-container">
				<h3 class="no-margin black">Comédien Voix Off</h3>
			</div>
		</div>
		<div class="row centered">
			<div class="col-md-6 main-header-container">
				<h4 class="black">06 60 51 06 28 - ivan_anneville@hotmail.fr </h4>
			</div>
		</div>
	</div>
</div>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<p class="navbar-brand">Bienvenue !</p>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
				<li class="nav-item">
					<a href="/" class="">Accueil</a>
				</li>
				<li class="nav-item">
					<a href="/audio/" class="">À écouter</a>
				</li>
				<li class="nav-item">
					<a href="/videos/" class="">À regarder</a>
				</li>
				<li class="nav-item">
					<a href="/courtmetrage/" class="">Courts métrages</a>
				</li>
				<li class="nav-item">
					<a href="/quisuisje/" class="">Qui suis-je ?</a>
				</li>
				<li class="nav-item">
					<a href="/contactezmoi/" class="">Contactez-moi</a>
				</li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
