<div class="intro-banner">
	<div class="row social">
		<div class="col-md-12 social-header">
			<a href="https://facebook.com/ivananneville/" target="_blank">
				<img class="social-logo" id="facebook-link" src="/static/images/social/fb_logo.png" alt="Designed by freepick.com"/>
			</a>
			<a href="https://www.twitter.com/IvanAnneville" target="_blank">
				<img class="social-logo" id="twitter-link" src="/static/images/social/twit_logo.png" alt="Designed by freepick.com"/>
			</a>
			<a href="https://www.youtube.com/IvanAnneville" target="_blank">
				<img class="social-logo" id="youtube-link" src="/static/images/social/yt_logo.png" alt="Designed by freepick.com"/>
			</a>
		</div>
	</div>
	<div class="site-header">
		<div class="row centered">
			<div class="col-md-8">
				<a href="/" class="main-header-container">
					<h1 class="header-text">Ivan</h1>
					<img class="header-img" src="/static/images/mic-logo.png"/>
					<h1 class="header-text">Anneville</h1>
				</a>
			</div>
		</div>
		<div class="row centered">
			<div class="col-md-4 main-header-container">
				<h3 class="no-margin black">Comédien / Voix Off Caméléon</h3>
			</div>
		</div>
		<div class="row centered">
			<div class="col-md-6 main-header-container">
				<h4 class="black">06 60 51 06 28 - ivan_anneville@hotmail.fr </h4>
			</div>
		</div>
	</div>
</div>

<div class="navbar navbar-static-top">
	<div class="container centered">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse navbar-center" id="navbar">
			<ul class="nav navbar-nav navbar-center">
				<li class="nav-item">
					<a href="/" class="">Accueil</a>
				</li>
				<li class="nav-item">
					<a href="/audio/" class="">A écouter</a>
				</li>
				<li class="nav-item">
					<a href="/videos/" class="">A regarder</a>
				</li>
				<li class="nav-item">
					<a href="/quisuisje/" class="">Qui suis-je</a>
				</li>
				<li class="nav-item">
					<a href="/contactezmoi/" class="">Contactez-moi</a>
				</li>
			</ul>
		</div><!-- /.navbar -->
	</div><!-- /.container -->
</div><!-- /.navbar-default -->
