<div class="navbar navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
				<span class="icon-bar" id="colored"></span>
				<span class="icon-bar" id="colored"></span>
				<span class="icon-bar" id="colored"></span>
			</button>
			<img href="/" class="navbar-title" src="/static/logo.png"/>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="/quisuisje/" class="">Qui Suis-je</a>
				</li>
        <li class="dropdown nav-dropdown">
          <a href="/mavoix/" id="voix-dropdown">Ma voix <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="bleh">Test</li>
            <li class="bleh">Test1</li>
            <li class="bleh">Test2</li>
            <li class="bleh">Test3</li>
            <!-- Get a list of different voices and link the correct filter to the links in the nav -->
          </ul>
        </li>
				<li>
					<a href="/aregarder/" class="">A regarder</a>
				</li>
				<li>
					<a href="/aecouter/" class="">A ecouter</a>
				</li>
				<li>
					<a href="/contactezmoi/" class="">Contactez moi</a>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</div><!-- /.navbar-default -->
