{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - videos{% endblock %}

{% block content %}

{% set videos = cms.videos %}
{% set types = cms.typesdevoix %}

{% set size = videos|size %}
{% set part = size%4 %}
{% set fullrow = size-part %}
{% set count = 0 %}

<!--Have a for loop through the types de voix to create a row containing a carousel for each of them-->
<div class="row">
  <div class="col-md-12 centered page-header">
    <h1 class="site-color">Mes spots vidéos</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12 centered">
    <h2>
      A venir...
    </h2>
  </div>
</div>


{% endblock %}
