{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - Audio{% endblock %}

{% block content %}

{% set content = cms.audio %}
{% set types = cms.typesdevoix %}
{% set categories = cms.categories %}

{% set size = content|size %}
{% set part = size%3 %}
{% set fullrow = size-part %}
{% set count = 0 %}

<div class="row centered first-page-element">
  <div class="col-md-2 centered filter-head">
    <a href="#" class="filter-btn">Types de Voix<span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
<div class="row filters hidden">
  <div class="col-md-10 col-md-push-1">
    <div class="row">
      {% for type in types %}
      <div class="col-md-2 col-sm-3 col-xs-4 centered">
        <a href="#" class="btn btn-info centered content-filter" id="{{type.name}}" onclick="toggle_visibility('{{type.name}}', event);">
          <p>{{type.name}}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% for category in categories %}
  {% if category.audio_relationship|size > 0%}
    <div class="row centered" id="{{category.name}}">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12 centered page-header">
            <h2 class="section-head site-color">{{category.name}}</h2>
          </div>
        </div>
        {% for item in category.audio_relationship %}
          <div class="row content-audio content-item {% for tag in item.type_de_voix %}
            {{tag.name}}
          {% endfor %}">
            <div class="col-md-3 centered">
              <div class="inline-block">
                <h4 class="tagTitle audio-content" id="{{item.name}}-title" {% if item.long_name %}style="font-size: 18px;"{%endif%}>{{item.name}}</h4>
              </div>
            </div>
            <div class="col-md-3 centered">
              <div class="inline-flex">
                {% for tag in item.type_de_voix %}
                  <p class="btn btn-info centerIntroText taglist audio-content" id="{{tag.name}}">{{tag.name}}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-4 centered">
              <audio class="audio-content" id="{{item.name}}" controls preload="none">
                <source src="{{item.media.url}}" type='audio/mp3' />
              </audio>
            </div>
            <div class="col-md-2 centered">
              <a href="{{item.media.url}}" download="{{item.media.url}}" class="btn btn-info center audio-content"><span class="glyphicon glyphicon-download-alt"></span> Télécharger</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endfor %}

{% endblock %}
