{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ cms.content.name }}{% endblock %}

{% set content = merge(cms.videos, cms.audio) %}
{% set videos = cms.videos %}
{% set audio = cms.audio %}

{% set current_url = getCurrentUrl() %}

{% block content %}

<!-- What I can do to apply the filters from links to this page is to
have the javascript look at which button was used to link to the page
and add an if statment to the html from the javascript doing that.-->

  <h1>{{ cms.content.name }}</h1>
  <ul>
    {% for item in content %}
      <div class="media-container">
        <video class="video-js" poster="/static/images/logo.jpg" controls preload="auto" src= {{ item.media.url }}></video>
        <p class="media-types-voix">
          {% for voix in item.type_de_voix %}
            {{voix.name}}
          {% endfor %}
        </p>
      </div>
    {%endfor%}
  </ul>

{% endblock %}
