{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ cms.content.name }}{% endblock %}

{% set content = merge(cms.videos, cms.audio) %}
{% set videos = cms.videos %}
{% set audio = cms.audio %}

{% set current_url = getCurrentUrl() %}

{% block content %}

  <h1>{{ cms.content.name }}</h1>
  {{ current_url }}
  {% if current_url.endswith('#video') %}
    {% for item in videos %}
      <p>
        {{item.name}}
      </p>
      {% block media_content %}{% endblock %}
    {% endfor %}
  {% elseif current_url.endswith('audio') %}
    {% for item in audio %}
      {% block media_content %}{% endblock %}
    {% endfor %}
  {% else %}
    {% for item in content %}
      {% block media_content %}{% endblock %}
    {% endfor %}
  {% endif %}

{% block media_content %}
      <div class="content-videos">
        <video class="video-js" poster="{{ item.img_poster.url}}" controls preload="auto" src={{ item.media.url }}></video>
        <ul class="voice-types">
          {% for voice in item.type_de_voix %}
            <li class="content-voice">{{ voice.name }}</li>
          {% endfor %}
        </ul>
      </div>
{% endblock %}


{% endblock %}
