{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - Acceuil{% endblock %}

{% set name = 'Acceuil' %}
{% set content = merge(cms.videos, cms.audio) %}

{% block content %}

  <div class="row">
  <div class="col-md-12">
    <!-- <div id="featured-media-carousel" class="carousel slide" data-ride="carousel" data-interval="false">

        <ol class="carousel-indicators">
            <li data-target="#featured-media-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#featured-media-carousel" data-slide-to="1"></li>
            <li data-target="#featured-media-carousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          {% for item in content %}
            {% if item.checkbox && loop.first %}
            <div class="item centered active">
              <video class="video-js vjs-default-skin center" width="440px" height="267px"
              controls preload="none" data-setup='{ "aspectRatio":"1980:720", "playbackRates": [1, 1.5, 2] }'>
                <source src="{{item.media.url}}" type='video/mp4' />
                <source src="{{item.media.url}}" type='video/webm' />
              </video>
              <a href="{{item.media.url}}" download="{{item.media.url}}" class="btn btn-info center top-margin"><span class="glyphicon glyphicon-download-alt"></span> Télécharger</a>
            </div>
            {% else %}
            <div class="item centered">
              <video class="video-js vjs-default-skin center" width="440px" height="267px"
              controls preload="none" data-setup='{ "aspectRatio":"1980:720", "playbackRates": [1, 1.5, 2] }'>
                <source src="{{item.media.url}}" type='video/mp4' />
                <source src="{{item.media.url}}" type='video/webm' />
              </video>
              <a href="{{item.media.url}}" download="{{item.media.url}}" class="btn btn-info center top-margin"><span class="glyphicon glyphicon-download-alt"></span> Télécharger</a>
            </div>
            {%endif%}
          {%endfor%}
        </div>

        <a class="carousel-control left" href="#featured-media-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#featured-media-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>  -->
    </div>
  </div>

{% endblock %}
