{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - Acceuil{% endblock %}

{% set name = 'Acceuil' %}
{% block content %}

<div class="row">
  <div class="col-xs-3 col-xs-push-2">
    <img class="img-responsive cameleon" src="/static/images/acceuil-image.png"  />
  </div>
  <div class="col-xs-6 tv">
    <div class="acceuil-content-container img-responsive">
      <img src="/static/images/bg.jpg" class="acceuil-image img-responsive" />
    </div>
  </div>
</div>

{% endblock %}
