{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - Acceuil{% endblock %}

{% set name = 'Acceuil' %}
{% set content = merge(cms.videos, cms.audio) %}

{% block content %}

  <div class="row">
  <div class="col-xs-12 col-md-8">
    <div id="featured-media-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Carousel indicators -->
        <!-- put a loop here to add slide to for all items which are to be feature on the front page-->
        <ol class="carousel-indicators">
            <li data-target="#featured-media-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#featured-media-carousel" data-slide-to="1"></li>
            <li data-target="#featured-media-carousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          {% for item in content %}
            {% if item.checkbox && loop.first %}
            <div class="item active">
              <video class="video-js center" height=300px width=400px controls preload="auto" src= {{ item.media.url }}></video>
              <a class="center video-link" href="{{item.media.url}}" download="{{item.media.url}}"> Télécharger! </a>
            </div>
            {% else %}
            <div class="item">
              <video class="video-js center" controls preload="auto" src= {{ item.media.url }}></video>
              <a class="center video-link" href="{{item.media.url}}" download="{{item.media.url}}"> Télécharger! </a>
            </div>
            {%endif%}
          {%endfor%}
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#featured-media-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#featured-media-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="social-side">
        <h3 class="header social">
          Activités récentes
        </h3>
        <ul>
          <li>Numero uno</li>
          <li>Number two</li>
          <li>Numéro trois</li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
