{% extends "templates/partials/base.html" %}

{% set name = 'Qui suis-je' %}
{% set composit = cms.composit %}
{% set photos = cms.photos %}

{% block title %}{% parent %} - {{ cms.quisuisje.name }}{% endblock %}
{% block content %}
<div class="row center-parent">
  <div class="col-md-12 centered page-header">
    <h1 class="site-color">Qui suis-je</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<div class="row phototeque">
  <div class="col-md-10">
    {% for photo in photos %}
      <div class="item">
        <img class="meImg" src="{{photo.image|imageSize('auto','auto')}}"/>
      </div>
    {% endfor %}
  </div>
</div>

<div class="composit-download">
  <a href={{composit.other_file.url}} download="{{composit.other_file.url}}"> Télécharger mon composit.</a>
</div>
{% endblock %}
