{% extends "templates/partials/base.html" %}

{% set name = 'Qui suis-je' %}
{% set composit = cms.composit %}
{% set photos = cms.photos|sort('name') %}

{% block title %}{% parent %} - {{ cms.quisuisje.name }}{% endblock %}
{% block content %}

<div class="row first-page-element">
  <div class="col-md-12 color-background">
    <p class="description centerIntroText">Je suis Ivan Anneville, voix-off professionnelle, à la voix singulière, grave et chaude.<br />
Après avoir dirigé les meilleurs comédiens voix-off durant des années en séances de pubs TV, RADIO ou CINEMA en tant que responsable Marketing pour des Majors comme GAUMONT COLUMBIA ou SONY PICTURES, je mets à votre disposition toute mon expérience de professionnel, qui de plus me permet aujourd’hui de comprendre très vite la demande du client et de savoir instantanément quelle est la cible visée et le ton à utiliser.
<br />Croyez-moi, vous êtes sur la bonne voix !</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <section class="phototeque">
      {% for photo in photos %}
        <img class="meImg img-responsive" src="{{photo.image|imageSize('auto','auto')}}"/>
      {% endfor %}
    </section>
  </div>
</div>

<div class="composit-download">
  <a href="{{composit.other_file.url}}" download="{{composit.other_file.url}}" class="btn btn-info center top-margin"><span class="glyphicon glyphicon-download-alt"></span> Télécharger mon composit.</a>
</div>
{% endblock %}
